{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",

    "WEBHOOK_SHARED_SECRET": "",
    "APP_SHARED_SECRET": "",

    "ENTRA_TENANT_ID": "50b0f407-cfdb-4951-8ec8-ab8f9d4217ea",
    "ENTRA_CLIENT_ID": "",
    "ENTRA_CLIENT_SECRET": "",

    "DRAGON_API_SCOPE": "105be974-d66d-43c9-b813-57a967bbfd21/.default",
    "DDE_RECOGNIZED_EVENT_TYPES": "encounter_data_ready_complete,transcript_ready_complete,encounter_data_updated,supplemental_encounter_data_ready"
  }
}
